name: hourly-taxi-demand-feature-pipeline

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  feature-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        id: cache
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Update lock file
        run: poetry lock --no-update

      - name: Install dependencies
        run: poetry install

      - name: Execute feature pipeline
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
        run: poetry run jupyter nbconvert --to notebook --execute notebooks/12_feature_pipeline.ipynb

      - name: Upload notebook execution logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: notebook-logs
          path: notebooks/12_feature_pipeline.nbconvert.ipynb